<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Some Title</title>
</head>
<body>
    <p>Cars Table</p>
    <table id = 'cars_table'>
        <thead>
        <tr>
            <th>Номер машины</th>
            <th>Вместимость</th>
            <th>ID водителя</th>
            <th>ID фабрики</th>
            <th>ID магазина</th>
        </tr>
        </thead>
        <tbody>
        <%data.forEach(car_element =>{%>
        <tr>
            <th><%=car_element.car_id%></th>
            <th><%=car_element.campacity%></th>
            <th><%=car_element.fk_worker_id%></th>
            <th><%=car_element.fk_fabric_id%></th>
            <th><%=car_element.fk_shop_id%></th>
        </tr>
        <%})%>
        </tbody>
    </table>
<h4>Удалить элемент</h4>
<form action="/cars/delete" method="post">
    <input type="text" placeholder="Номер машины" name="output_car_id">
    <button type="submit">Submit</button>
</form>
</body>
</html>